p {
  font-family: 'Epilogue', sans-serif;  /* Regular font */
  font-family: 'Martel Sans', sans-serif;  /* Titles */
  font-family: 'Quicksand', sans-serif;  /* Menu */
}

/* Menu
  Background color: #F8EDE3
  Font color: #322203
*/

/* Main
  Font color: #FFFFFF
  Button: #EBEBEB
  Button Font color: #322203
  Tiene una main image: NECESITO
*/

/* Nuestro equipo
  Title color: #FFFFFF
  Background color: #F47C7C
  Font color: #FFFFFF
  Secondary font color: #F47C7C
  Background secondary font color: #FFFFFF
*/

/* Que hacemos
  Title color: #FFFFFF
  Background color: #F47C7C
  Font color: #F47C7C
  Background font color: #FFFFFF
*/

/* Como ayudar
  Title color: #F47C7C
  Background color: #F8EDE3
  Image button color: #A27304
  Font color: #7F6F6B
  Secondary font color: #F47C7C
  Background secondary font color: #FFFFFF
  Button: #EBEBEB
  Button Font color: #322203
*/

/* Nuestros logros
  Title color: #F47C7C
  Background color: #FFFFFF
  Font color: #F47C7C
  Background font color: #F8EDE3
*/

/* Quieres ser voluntario
  Background title color: #F47C7C
  Title color: #FFFFFF
  Background color: #F8EDE3
  Font color: #322203
*/

/* Contactos
  Background color: #F47C7C
  Background font color: #F8EDE3
  Title font color: #949F9A
  Font color: #322203
*/