* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Hatton;
  src: url('../fonts/hatton-light.otf');
}

:root {
  --lightSalmon: #F8EDE3;
  --lightSalmonAlpha: rgba(248, 237, 227, .9);
  --lightDarkSalmon: #F1DCC8;
  --black: #322203;
  --white: #FFFFFF;
  --gray: #EBEBEB;
  --darkGray: #949F9A;
  --lightRed: #F47C7C;
  --lightRedAlpha: rgba(244, 124, 124, .2);
}

html {
  scroll-padding-top: 5em;
}

body {
  font-size: 16px;
  font-family: 'Epilogue', sans-serif;
  margin-top: 5em;
}

.wrapper {
  padding: 0 1.5em;
}

.page {
  min-height: calc(100vh - 80px);
}

/* MENU */
.logo {
  display: block;
  height: 2.5em;
}

header {
  height: 5em;
  background: var(--lightSalmon);
  border-bottom: 2px solid var(--lightDarkSalmon);
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.collapsed-menu-checkbox {
  display: none;
}

.collapsed-menu-icon {
  cursor: pointer;
}

.collapsed-menu-icon-line {
  background-color: var(--black);
  display: block;
  height: 2px;
  width: 24px;
  position: relative;
}

.collapsed-menu-icon-line::before,
.collapsed-menu-icon-line::after {
  background-color: var(--black);
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all .2s ease-out;
}

.collapsed-menu-icon-line::before {
  top: 5px;
}

.collapsed-menu-icon-line::after {
  top: -5px;
}

.collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line {
  background-color: transparent;
}

.collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line::before,
.collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line::after {
  top: 0;
}

.collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line::before {
  transform: rotate(45deg);
}
.collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line::after {
  transform: rotate(-45deg);
}

.menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: var(--lightSalmonAlpha);
  height: 100vh;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  border-top: 1px solid var(--lightRedAlpha);
}

.menu ul li:nth-child(4) {
  display: none;
}

.menu ul li a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
}

.collapsed-menu-checkbox:checked ~ .menu {
  display: block;
}

/* MAIN */
.main {
  background-image: url('../images/main.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(210, 207, 197, 0.6);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-family: Hatton;
  text-align: center;
  padding: 0 1.5em;
}

.main button {
  border: none;
  text-transform: uppercase;
  font-family: 'Epilogue', sans-serif;
  color: var(--black);
  padding: 1em 2em;
  margin: 2em 0;
  background-color: var(--gray);
  letter-spacing: .1em;
}

.main p {
  letter-spacing: .1em;
}

/* ABOUT US */
.about-us-grid {
  background-color: var(--lightRed);
  color: var(--white);
  padding: 1.5em;
}

.about-us-grid hr {
  width: 40%;
  margin: auto;
  border: .1px solid var(--lightSalmonAlpha);
}

.about-us-grid h2 {
  font-family: Hatton;
  text-transform: uppercase;
  font-size: 1.7em;
  margin: 1em 0;
  text-align: center;
}

.about-us-description {
  padding: 0 1.5em 1.5em 1.5em;
}

.about-us-description p {
  margin: 1.5em 0;
  line-height: 1.5em;
  text-align: justify;
}

.our-team {
  padding: 1.5em 0;
}

.our-team-pictures figure {
  text-align: center;
  margin: 1.5em 0;
}

.our-team-pictures img {
  height: 12em;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

.our-team-pictures figcaption {
  line-height: 1.5em;
}

.about-us-grid blockquote {
  font-family: Hatton;
  color: var(--lightRed);
  background-color: var(--white);
  margin: 2.5em 0 1.5em;
  padding: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 2em;
}

@media screen and (min-width: 480px) {
  /* MAIN */
  .main h1 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 768px) {
  /* MAIN */
  .main h1 {
    font-size: 3em;
  }

  .main p {
    font-size: 1.2em;
  }

  /* ABOUT US */
  .about-us-description {
    padding: 0 3em 1.5em 3em;
  }
  
  .our-team-pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-grid blockquote {
    width: 80%;
    margin: 2.5em auto 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  /* MAIN */
  .main h1 {
    font-size: 3.5em;
  }

  .main p {
    font-size: 1.5em;
  }

  /* ABOUT US */
  .about-us-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "about-us team-pictures"
      "phrase phrase";
  }

  .about-us-grid hr {
    display: none;
  }

  .our-team {
    padding: 0;
  }

  .our-team-pictures {
    grid-template-columns: repeat(3, 1fr);
  }

  .our-team-pictures img {
    height: 8em;
  }

  .about-us-grid blockquote {
    grid-area: phrase;
    width: 70%;
  }
}

@media screen and (min-width: 1240px) {
  /* MAIN */
  .main h1 {
    font-size: 4em;
  }

  /* ABOUT US */
  .about-us-grid h2 {
    font-size: 2em;
    margin: .7em 0;
  }

  .about-us-description p {
    font-size: 1.2em;
    margin: 1.5em 0;
  }
}

@media screen and (min-width: 1440px) {
  /* MAIN */
  .main h1 {
    max-width: 1440px;
    font-size: 4.5em;
  }

  /* ABOUT US */
  .about-us-grid h2 {
    font-size: 2.5em;
    margin: .5em 0;
  }

  .about-us-description p {
    font-size: 1.4em;
    margin: 1.5em 0;
  }

  .our-team-pictures figcaption {
    font-size: 1.4em;
  }

  .about-us-grid blockquote {
    margin: 1.5em auto;
    font-size: 2em;
  }
}

/*
/* MENU * /

.collapsed-menu-icon {
  display: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1.5em;
  padding: 0 1.5em;
  text-align: center;
  align-items: center;
  height: 100%;
}

/* OUR WORK * /
.our-work-grid {
  padding: 50px;
  background-color: var(--lightRed);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
}

.our-work-grid h2 {
  font-family: Hatton;
  text-transform: uppercase;
  margin: 0 0 1em 1.5em;
}

.our-work-grid .our-work-description .our-work-container {
  background-color: var(--white);
  color: var(--lightRed);
  padding: 1em 2.5em;
  border-radius: 1.5em;
}

.our-work-grid .our-work-description p {
  margin: 1.5em 0;
  letter-spacing: .08em;
  line-height: 1.5em;
  font-size: 1em;
}

.our-work-grid .our-work-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.our-work-grid .our-work-pictures figure {
  text-align: center;
  margin: 1em 0;
}

.our-work-grid .our-work-pictures figure img {
  height: 11em;
  border-radius: 50%;
}

/* HELP US * /
.help-us-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--lightSalmon);
}

.help-us-grid h2 {
  color: var(--lightRed);
  font-family: Hatton;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

.help-us-grid .help-us-description {
  padding: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.help-us-grid .help-us-description .help-us-opt-1,
.help-us-grid .help-us-description .help-us-opt-2,
.help-us-grid .help-us-description .help-us-opt-3 {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.help-us-grid .help-us-description .help-us-opt-1 img,
.help-us-grid .help-us-description .help-us-opt-2 img,
.help-us-grid .help-us-description .help-us-opt-3 img {
  margin-right: 2em;
  height: 4em;
}

.help-us-grid .help-us-description button {
  border: none;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Epilogue', 'sans-serif';
  color: var(--black);
  padding: 15px 35px;
  font-size: .75em;
  background-color: var(--gray);
}

.help-us-grid .help-us-description .help-us-account {
  margin: 1.5em auto;
  background-color: var(--white);
  columns: var(--lightRed);
  padding: 1em 4.5em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
}

.help-us-grid .help-us-picture {
  background-image: url('../images/main.jpg');
  background-size: cover;
  background-position-x: center;
  box-shadow: inset 0 0 0 2000px rgba(210, 207, 197, 0.6);
}

/* ACHIEVEMENTS * /
.achievements-grid {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.achievements-grid h2 {
  color: var(--lightRed);
  font-family: Hatton;
  text-transform: uppercase;
}

.achievements-grid blockquote {
  color: var(--lightRed);
  background-color: var(--lightSalmon);
  text-align: center;
  font-family: Hatton;
  vertical-align: middle;
  font-size: 1.5em;
  width: 50%;
  padding: 20px 30px;
  border-radius: 30px;
}

/* VOLUNTEER * /
.volunteer-grid {
  display: flex;
  flex-direction: column;
  background-color: var(--lightSalmon);
}

.volunteer-grid h2 {
  background-color: var(--lightRed);
  color: var(--white);
  text-align: center;
  font-family: Hatton;
  text-transform: uppercase;
  padding: 1.5em;
}

.volunteer-grid .volunteer-description {
  text-align: center;
  margin: 4em auto;
}

.volunteer-grid .volunteer-description .volunteer-pictures {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.volunteer-grid .volunteer-description .volunteer-pictures img {
  height: 15em;
  margin: 0 1.5em;
}

.volunteer-grid .volunteer-description p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: var(--black);
}

.volunteer-grid .volunteer-description p.volunteer-description-title {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  font-size: 1.2em;
}

/* Contact * /
.contact-grid {
  background-color: var(--lightRed);
  display: grid;
  grid-template-rows: 1fr 60px;
  gap: 2em;
}

.contact-grid .contact-description {
  background-color: var(--lightSalmon);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 65%;
  margin: auto;
  border-radius: 20em 20em 0 0;
}

.contact-grid .contact-description h2 {
  text-transform: uppercase;
  font-family: Hatton;
  font-size: 2.5em;
  color: var(--darkGray);
  margin-top: 1em;
}

.contact-grid .contact-description .contacts p {
  margin: 2.5em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--black);
}
.contact-grid .contact-description .contacts p span {
  margin: .5em 0;
}

.contact-grid .contact-description img {
  height: 3em;
}

.contact-grid footer {
  background-color: var(--lightSalmon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-grid footer img {
  height: 2em;
  margin: 0 2em;
}

@media (max-width: 768px) {
  /* MENU * /
  .collapsed-menu-icon {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.5em;
  }

  .menu {
    display: none;
  }

  .collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line {
    background: transparent;
  }
  
  .collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .collapsed-menu-checkbox:checked ~ .collapsed-menu-icon .collapsed-menu-icon-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  .collapsed-menu-checkbox:checked ~ .menu {
    display: initial;
  }

  .collapsed-menu-checkbox:checked ~ .menu ul {
    background-color: var(--lightSalmon);
    height: calc(100vh - 5em);
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 1.5em;
    padding: 1.5em 0;
  }

  .collapsed-menu-checkbox:checked ~ .menu ul li:nth-child(4) {
    display: none;
  }

  .collapsed-menu-checkbox:checked ~ .menu ul li a {
    user-select: none;
  }

  /* MAIN * /
  .main h1 {
    font-size: 2.5em;
    width: 80%;
  }
}

/* @media (max-width: 1024px) {
  /* MAIN * /
  .main h1 {
    font-size: 3em;
    width: 70%;
  }
} * /
*/