* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Hatton;
  src: url('../fonts/hatton-light.otf');
}

:root {
  --lightSalmon: #F8EDE3;
  --lightDarkSalmon: #F1DCC8;
  --black: #322203;
  --white: #FFFFFF;
  --gray: #EBEBEB;
  --lightRed: #F47C7C;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: 'Epilogue', sans-serif;
  margin-top: 80px;
}

.page {
  min-height: calc(100vh - 80px);
}

/* MENU */
.menu {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--lightSalmon);
  overflow: hidden;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid var(--lightDarkSalmon);
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1.1em;
  align-items: center;
  height: 100%;
  padding: 0 1.1em;
}

.menu ul li {
  list-style-type: none;
  text-align: center;
}

.menu ul li a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
}

.menu ul li a img {
  height: 40px;
}

/* MAIN */
.main {
  background-image: url('../images/main.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(210, 207, 197, 0.6);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-family: Hatton;
  font-size: 3.5em;
  text-align: center;
  width: 15em;
}

.main button {
  border: none;
  text-transform: uppercase;
  font-family: 'Epilogue', 'sans-serif';
  color: var(--black);
  padding: 15px 35px;
  font-size: .75em;
  margin: 2.5em 0;
  background-color: var(--gray);
}

.main p {
  font-size: 1.1em;
  letter-spacing: .1em;
}

/* ABOUT US */
.about-us-grid {
  padding: 50px;
  background-color: var(--lightRed);
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas:
    "about-us team-pictures"
    "phrase phrase";
}

.about-us-grid h2 {
  font-family: Hatton;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.about-us-grid .about-us-description {
  padding: 0 6.5em 0 2.5em;
}

.about-us-grid .about-us-description p {
  margin: 1.5em 0;
  letter-spacing: .08em;
  line-height: 1.5em;
  font-size: 1em;
}

.about-us-grid .our-team h2 {
  text-align: center;
}

.about-us-grid .our-team .our-team-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.about-us-grid .our-team .our-team-pictures figure {
  text-align: center;
  margin: 1.5em 0;
}

.about-us-grid .our-team .our-team-pictures figure img {
  height: 6em;
  border-radius: 50%;
  margin-bottom: 1.1em;
}

.about-us-grid .our-team .our-team-pictures figure figcaption {
  font-size: .8em;
}

.about-us-grid blockquote {
  color: var(--lightRed);
  background-color: var(--white);
  grid-area: phrase;
  justify-self: center;
  text-align: center;
  font-family: Hatton;
  font-weight: 600;
  vertical-align: middle;
  font-size: 1.5em;
  border-radius: 30px;
  padding: 20px 30px;
  width: 50%;
}

/* OUR WORK */
.our-work-grid {
  padding: 50px;
  background-color: var(--lightRed);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
}

.our-work-grid h2 {
  font-family: Hatton;
  text-transform: uppercase;
  margin: 0 0 1em 1.5em;
}

.our-work-grid .our-work-description .our-work-container {
  background-color: var(--white);
  color: var(--lightRed);
  padding: 1em 2.5em;
  border-radius: 1.5em;
}

.our-work-grid .our-work-description p {
  margin: 1.5em 0;
  letter-spacing: .08em;
  line-height: 1.5em;
  font-size: 1em;
}

.our-work-grid .our-work-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.our-work-grid .our-work-pictures figure {
  text-align: center;
  margin: 1em 0;
}

.our-work-grid .our-work-pictures figure img {
  height: 11em;
  border-radius: 50%;
}

/* HELP US */
.help-us-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--lightSalmon);
}

.help-us-grid h2 {
  color: var(--lightRed);
  font-family: Hatton;
  text-transform: uppercase;
  text-align: center;
}

.help-us-grid .help-us-description {
  padding: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-us-grid .help-us-description .help-us-opt-1,
.help-us-grid .help-us-description .help-us-opt-2,
.help-us-grid .help-us-description .help-us-opt-3 {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.help-us-grid .help-us-description .help-us-opt-1 img,
.help-us-grid .help-us-description .help-us-opt-2 img,
.help-us-grid .help-us-description .help-us-opt-3 img {
  margin-right: 2em;
  height: 4em;
}

.help-us-grid .help-us-description button {
  border: none;
  text-transform: uppercase;
  font-family: 'Epilogue', 'sans-serif';
  color: var(--black);
  padding: 15px 35px;
  font-size: .75em;
  background-color: var(--gray);
}

.help-us-grid .help-us-description .help-us-account {
  margin: 1.5em 0;
  background-color: var(--white);
  columns: var(--lightRed);
  padding: 1em 4.5em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
}

.help-us-grid .help-us-picture {
  background-image: url('../images/main.jpg');
  background-size: cover;
  background-position-x: center;
  box-shadow: inset 0 0 0 2000px rgba(210, 207, 197, 0.6);
}

/* Nuestros logros
  Title color: #F47C7C
  Background color: #FFFFFF
  Font color: #F47C7C
  Background font color: #F8EDE3
*/

/* Quieres ser voluntario
  Background title color: #F47C7C
  Title color: #FFFFFF
  Background color: #F8EDE3
  Font color: #322203
*/

/* Contactos
  Background color: #F47C7C
  Background font color: #F8EDE3
  Title font color: #949F9A
  Font color: #322203
*/
